{% extends "fr/partials/email_base.html" %}
{% block title %}Mot de passe oublié{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #d14b6b;
    }
</style>
{% endblock %}
{% block content %}

<table style="width:100%">
    <tbody>
        <tr>
            <td>
                <div>
                    <h2 style="color: #d14b6b;">Demande de réinitialisation de mot de passe</h2>
                    <p>Bonjour,</p>
                    <p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Utilisez le code
                        ci-dessous pour procéder :</p>
                    <h3 style="color: #d14b6b;">{{code}}</h3>
                    <p>Ce code expirera dans {{time}} minutes.</p>
                    <p>Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet e-mail.</p>
                    <p style="margin-top: 30px;">Merci,<br>L'équipe {{app_name}}</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}