{% extends "fr/partials/email_base.html" %}
{% block title %}Alerte de connexion{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        
    </style>
{% endblock %}
{% block content %}

    <table style="width:100%">
        <tbody>
            <tr>
                <td>
                    <div >
                        <h2 style="color: #d14b6b;">Alerte de connexion</h2>
                        <p>Bonjour,</p>
                        <p>Nous tenons à vous informer qu'une connexion à votre compte a été effectuée depuis {{ device }} le {{ time }}. Si c'était vous, aucune action supplémentaire n'est nécessaire.</p>

                        <p>Si vous n'avez pas tenté de vous connecter, veuillez contacter immédiatement notre équipe de support et changer votre mot de passe pour plus de sécurité.</p>
                        <p><em>Restez en sécurité,</em></p>
                        <p style="margin-top: 30px;">Merci,<br>L'équipe {{app_name}}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}    