<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        body {
            direction: ltr;
            font: small / 1.5 Arial, Helvetica, sans-serif;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            margin: 0;
        }
        a {
            color: #1ec96b
        }

        u a {
            color: #1ec96b;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit
        }

        h1,h2,h3, h4, h5,h6 {
            font-weight: 600;
            margin: 1rem 0
        }

        p {
            line-height: 1.5;
            margin: 0 0 1em
        }

        img {
            margin: 0 0 1rem;
            width: 100%
        }
    </style>

</head>

<body>
    <div 
    style="background-color:#f0eef3;min-height:100%;margin:0;background-image:url('https://ci3.googleusercontent.com/meips/ADKq_NblAWvMQNYMq4jut1MlmtanEiEzcwLNn3fZjPj15GeHZEm32_U7Zedbj5zeolI7CowXFXIYgXyIgwnfXU2K2h8Q2EpLALpRVhPqjxRu1hAmSr1PCsJU46D-1iXxuYHUimfp3Dsl3_iEc9vtrHyfgPhGkgw8hpdTIqnELaRB=s0-d-e1-ft#https://storage.googleapis.com/sentryio-assets/img/email/sentry-subtle-randogeo-pattern-transparent.png');padding:1rem 0.25rem 2rem">
   
    <div  style="margin:0 auto;max-width:600px">
        <div style="background:#1ec96b;padding:0.5rem 0;text-align:center">
            <h1 style="color: white; margin: 8px 0">{{app_name}}</h1>
        </div>
        <div  style="background:#fff;font-size:1rem">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td 
                            style="padding:0.5rem 1.5rem 1rem">
                            <table
                                style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div >
                                                <p>For your information, your plan comes with tracing
                                                    capabilities. You can start tracing errors and
                                                    performance bottlenecks across your services during your
                                                    14 day trial.<br></p>
                                                <p>Here are some resources to help you set up tracing for
                                                    performance monitoring. <br></p>
                                                <ul>
                                                    <li><a href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo4inNoef1D96m3tkyJu-tyJZm-zBECjWIcNBPC7QwMXMaiFRtyY4SXUwwMAYKx6aaEA="
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo4inNoef1D96m3tkyJu-tyJZm-zBECjWIcNBPC7QwMXMaiFRtyY4SXUwwMAYKx6aaEA%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw0wnNlQMe-NipoIZG0pd-DY">Docs</a>
                                                        to configure your SDK to send spans. Please make
                                                        sure you’re using the latest version of your SDK.
                                                    </li>
                                                    <li><a href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo76QnumeR1NPQuUTGofZxKHsTV9wow5YHYh1OlWOoy4WQJ8aKEKiwViL6XsVVWe-ra8="
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo76QnumeR1NPQuUTGofZxKHsTV9wow5YHYh1OlWOoy4WQJ8aKEKiwViL6XsVVWe-ra8%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw0k4ioVNf6_3AK31c0nS46G">Information</a>
                                                        on how access service specific data</li>
                                                    <li><a href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo7mrxxWxOFMq4CChSwFrPWzeK81hr1DFfKwo07Bi8KEIAlfP3QLpMqQ6GB1-0mfs9Ns="
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo7mrxxWxOFMq4CChSwFrPWzeK81hr1DFfKwo07Bi8KEIAlfP3QLpMqQ6GB1-0mfs9Ns%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw3i3F0uhboZK-6ZR1qHwW0t">How-to
                                                            guide</a> for querying your event data</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table 
                                style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div >
                                                <div>
                                                    <em><span style="font-size:14px"><em>Need help? Check
                                                                out our <a
                                                                    href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo0JN8hnECiSr2tvQ_fOKSaSK9dL7N7u8FzSipoP3HvFRnXJJ2p7mai1apWCgJrmTTJY="
                                                                    id="m_8759175866780561710"
                                                                    target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo0JN8hnECiSr2tvQ_fOKSaSK9dL7N7u8FzSipoP3HvFRnXJJ2p7mai1apWCgJrmTTJY%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw2ZQa3l1u0NoTDQ4wzelnro">help
                                                                    center</a> and <a
                                                                    href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo52zecKbdThSvVKwLQ-_I6NsWxZoKL1CQAHWGNGRtCfs9tPmxZEfa1wSHFJKgUiKR_M="
                                                                    id="m_8759175866780561710"
                                                                    target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQoo52zecKbdThSvVKwLQ-_I6NsWxZoKL1CQAHWGNGRtCfs9tPmxZEfa1wSHFJKgUiKR_M%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw1ItE5QKbnjPMLmkb1wPbDG">docs</a>
                                                                for how-to guides, best practices, and many
                                                                other capabilities. Or, drop us a line at <a
                                                                    href="mailto:help@sentry.io"
                                                                    target="_blank">help@sentry.io</a> or in
                                                                <a href="https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQooy38pxpti4p23O6wkX21ogvoiFy1xFwgqDeX8GTgyU7ZwK2KfneN3_Io45cjYkk8r6k="
                                                                    id="m_8759175866780561710"
                                                                    target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?q=https://go.sentry.marketing/Nzc2LU1KTi01MDEAAAGWfPQooy38pxpti4p23O6wkX21ogvoiFy1xFwgqDeX8GTgyU7ZwK2KfneN3_Io45cjYkk8r6k%3D&amp;source=gmail&amp;ust=1732440013998000&amp;usg=AOvVaw0KfXz0TqgI_4-_lzNpPsEH">Discord</a>.</em><br></span></em>
                                                    <br>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table
                                style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                <p><span style="font-size:14px"><em></em></span><span
                                                        style="font-size:14px"><em>This is an onboarding
                                                            email with setup information for the Sentry
                                                            products or services you've signed up for, which
                                                            is why you are receiving it even if you have
                                                            opted-out of Sentry marketing
                                                            emails.</em></span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>