{% extends "en/partials/email_base.html" %}
{% block title %}Verify Email{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <table style="width:100%">
        <tbody>
            <tr>
                <td>
                    <div >
                        <h2 style="color: #00843d;">Verify Your Email</h2>
                        <p>Hi there,</p>
                        <p>Thank you for registering with us. To verify your email address, please use the code below:</p>
                        <h3 style="color: #00843d;">{{code}}</h3>
                        <p>This code will expire in <span id="time-remaining">{{time}}</span> minutes.</p>
                        <p style="margin-top: 30px;">Thank you,<br>The {{app_name}} Team</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}    